*{padding:0;margin:0;}
.clear{clear:both;}
body{
    width:960px;margin:0 auto;
    background-color:#fefefe;
}

header{
    display:block;
    border-bottom:2px solid #aaa;
    padding:10px 0 10px 0;
}
.up {
    border-bottom:2px solid #aaa;
    padding:10px 0;
}

.left {
    float:left;
    display:block;
}

.right {
    display:block;
    width:400px;
    float:right;
}

.baseInfo {
    padding: 0 0 0 10px;
    border-left:2px solid #aaa;
}

.baseInfo p {
    padding 4px 0;
}

footer {
    display:block;
    border-top:2px solid #aaa;
    padding:10px 0 0 0;
}

footer p{
    float:right;
}

#clientAllInfo td {
    border: 1px solid black;
}

#clientAllInfo table th {
    background-color:green;
    color:white;
}

th, td {
    border: 1px solid black;
}
th {
    background-color: grey;
}
